.mypy_cache/
*.log
myenv/
__pycache__/
images/
dumps/
.DS_store
.idea/
target/

# .venv config for IDE
pyrightconfig.json

# UV python package manager
uv.lock
pyproject.toml
.python-version

# .env config for Neo4j passwords
.env